<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/navbar")%>
    <h1>Registration Page</h1>

    <form method="post" action="/register">
        <label>Username:</label>
        <input type="text" name="username" required><br><br>
        <label>Email</label>
        <input type="text" name="email" required><br><br>
        <label>Password</label>
        <input type="password" name="password" required><br><br>
        <label>Confirm Password</label>
        <input type="password" name="password2" required><br><br>
        <button type="submit">Click to Register</button>

        <% if(errorMsg){%>
        <br> <%= errorMsg %>
        <%}%>
    </form>
</body>
</html>